@{
    ViewData["Title"] = "Política de privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Nós utilizamos cookies e outras tecnologias semelhantes para melhorar sua experiência de navegação em nosso website. Ao acessar nosso website, você aceita a política de monitoramento de cookies.</p>
